body {
  background-color: #eaf6f6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 2px;
  width: 5%;
}
.profile {
  height: 100%;
  width: 120px;
  border-radius: 80%;
}
h1,
h3 {
  color: #66bfbf;
}
